{% style %}
    .product__tab-content:not(.tab-open){
        display: none;
    }
    .product__tab-button-container{
        display: flex;
        gap: 12px;
        justify-content: space-between;
        width: 100%;
    }
    .product__tab-button-container[total-block-count="3"],.product__tab-button-container[total-block-count="2"],.product__tab-button-container[total-block-count="1"]{
        justify-content: space-around;
    }
    .product__tab-button-container[total-block-count="0"]{
        justify-content: flex-start
    }
    .product__tab-button{
        background: none;
        color: inherit;
        border: none;
        padding: 0 12px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .product__tab-button-container{
        position: relative;
    }
    .product__tab-button.tab-open{
        border-bottom: 3px solid #A8636C;
        font-weight: 600;
    }
    .product__tab-button-container:before{
        content: " ";
        display: block;
        width: 125%;
        height: 2px;
        background-color: #D2D5D9;
        position: absolute;
        bottom: 0;
        z-index: -1;
        left: 0;
    }
    .product__tab-button-container-shadow-container{
        position: relative;
    }
    .product__tab-button-container-shadow-container:after{
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        z-index: 3;
        width: 50px;
        top: 0;
        height: 100%;
        background: linear-gradient(to right, transparent  0%, transparent  10%, white 100%);
    }
    .product__tab-content .accordion__content{
        padding-top: 1.5rem;
    }
    .product-tabs.growthbook-test{
        margin-top: 3rem;
        overflow: hidden;
    }
    @media screen and (max-width: 749px){
        .product__tab-button-container{
            overflow-x: scroll;
            width: max-content;
        }
    }
{% endstyle %}
{% liquid 
    assign total_block_count = 0 
    for block in blocks
        if block.type == 'collapsible_tab'
            assign total_block_count = total_block_count | plus: 1
        endif
    endfor
%}
<div class="product-tabs growthbook-test">
    <div class="product__tab-button-container-shadow-container">
        <div class="product__tab-button-container" total-block-count="{{ total_block_count }}">
            {% assign count = 0 %}
            {% if total_block_count == 0 %}
                <button class="product__tab-button" data-tab="#product-description" onclick="openTab(this)">
                    Description
                </button>
            {% endif %}
            {% for block in blocks %}
                {%  if block.type == 'collapsible_tab' %}
                    {% liquid
                        assign show_tab = false
                        if template.suffix contains 'classic-2'
                        if block.settings.heading contains 'Notes' or block.settings.heading contains 'Ingredients'
                            assign show_tab = true
                        endif
                    elsif template.suffix contains 'classic-sample-set' or template.suffix contains 'reserve-sample-set' or template.suffix contains 'gift-card' or template.suffix contains 'hsb-sample-set'
                    elsif template.suffix contains 'hsb'
                        if block.settings.heading contains 'Sustainability' or block.settings.heading contains 'Ingredients' or block.settings.heading contains 'How To Use'
                            assign show_tab = true
                        endif
                    elsif template.suffix contains 'set'
                        if block.settings.heading contains 'Ingredients'
                            assign show_tab = true
                        endif
                    elsif template.suffix contains 'h2eau'
                        assign show_tab = true
                    elsif template.suffix contains 'home'
                        if block.settings.heading contains 'Sustainability' or block.settings.heading contains 'Ingredients'
                            assign show_tab = true
                        endif
                    elsif template.suffix == blank
                        if block.settings.heading contains 'Sustainability' or block.settings.heading contains 'Ingredients' or block.settings.heading contains 'Notes'
                            assign show_tab = true
                        endif
                    endif
                    %}
                    {% if count == 2 %}
                        <button class="product__tab-button" data-tab="#product-description" onclick="openTab(this)">
                            Description
                        </button>
                        {% if show_tab %}
                        <button class="product__tab-button" data-tab="#{{ block.settings.heading | handleize }}" onclick="openTab(this)">
                            {{ block.settings.heading | default: block.settings.page.title | escape }}
                        </button>
                        {% endif %}
                    {% else %}
                        {% if show_tab %}
                            <button class="product__tab-button" data-tab="#{{ block.settings.heading | handleize }}" onclick="openTab(this)">
                                {{ block.settings.heading | default: block.settings.page.title | escape }}
                            </button>
                        {% endif %}
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="product__tab-content-container">
        {% assign count = 0 %}
        {% if total_block_count == 0 %}
            <div class="product__tab-content" id="product-description">
                <div class="accordion__content rte">
                    {{ product.description }}
                </div>
            </div>
        {% endif %}
    {% for block in blocks %}
        {%  if block.type == 'collapsible_tab' %}
            {% liquid
                assign show_tab = false
                if template.suffix contains 'classic-2'
                    if block.settings.heading contains 'Notes' or block.settings.heading contains 'Ingredients'
                        assign show_tab = true
                    endif
                elsif template.suffix contains 'classic-sample-set' or template.suffix contains 'reserve-sample-set' or template.suffix contains 'gift-card' or template.suffix contains 'hsb-sample-set'
                elsif template.suffix contains 'hsb'
                    if block.settings.heading contains 'Sustainability' or block.settings.heading contains 'Ingredients' or block.settings.heading contains 'How To Use'
                        assign show_tab = true
                    endif
                elsif template.suffix contains 'set'
                    if block.settings.heading contains 'Ingredients'
                        assign show_tab = true
                    endif
                elsif template.suffix contains 'h2eau'
                    assign show_tab = true
                elsif template.suffix contains 'home'
                    if block.settings.heading contains 'Sustainability' or block.settings.heading contains 'Ingredients'
                        assign show_tab = true
                    endif
                elsif template.suffix == blank
                    if block.settings.heading contains 'Sustainability' or block.settings.heading contains 'Ingredients' or block.settings.heading contains 'Notes'
                        assign show_tab = true
                    endif
                endif
            %}
            {% if count == 2 %}
            <div class="product__tab-content" id="product-description">
                <div class="accordion__content rte">
                    {{ product.description }}
                </div>
            </div>
                {% if show_tab %}
                    <div class="product__tab-content" id="{{ block.settings.heading | handleize }}">
                            <div class="accordion__content rte">
                                {{ block.settings.content }}
                                {{ block.settings.page.content }}
                                {{ block.settings.custom_liquid }}
                            </div>
                    </div>
                {% endif %}
            {% else %}
                {% if show_tab %}
                <div class="product__tab-content" id="{{ block.settings.heading | handleize }}">
                        <div class="accordion__content rte">
                            {{ block.settings.content }}
                            {{ block.settings.page.content }}
                            {{ block.settings.custom_liquid }}
                        </div>
                </div>
                {% endif %}
            {% endif %}
            {% assign count = count | plus: 1 %}
        {% endif %}
    {% endfor %}
    </div>
</div>
<script>
    function openTab(el){
        document.querySelectorAll('.product-tabs .product__tab-button').forEach(item => {
            item.classList.remove('tab-open')
        })
        document.querySelectorAll('.product-tabs .product__tab-content').forEach(item => {
            item.classList.remove('tab-open')
        })
        let toOpenId = el.getAttribute('data-tab')
        el.closest('.product-tabs').querySelector(`${toOpenId}`).classList.add('tab-open');
        el.classList.add('tab-open')
    }

        document.querySelector('.product__tab-button-container .product__tab-button').click()
    
</script>